.header__background {
  background-image: url('../images/backround.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //   opacity: 0.4;
  width: 100vw;
  height: 90vh;
  min-width: 1040px;

  display: flex;
  justify-content: center;
  align-items: center;

  .carousel {
    width: 60%;
    box-shadow: 10px 10px 100px 50px rgba(197, 248, 255, 0.425);

    img {
      max-height: 576px;
      border-radius: 5px;
    }
  }
}
