.header__background {
  background-image: url('../images/backround.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 0;
  width: 100vw;
  height: 100vh;
  min-width: 1040px;

  .header__cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90%;
  }

  .carousel {
    width: 60%;
    box-shadow: 10px 10px 100px 50px rgba(197, 248, 255, 0.425);
    border-radius: 10px;

    img {
      max-height: 576px;
      border-radius: 10px;
    }
  }
  .scroll__container {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-family: 'Lobster', cursive;
      font-size: 25px;
      transition: all ease-in-out 0.2s;

      &:hover {
        color: white;
      }
    }
  }
}
