main {
  background-image: url('../images/ballons.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;

  .background-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(68, 67, 67, 0.459);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 3.5rem;
      text-align: center;
      font-family: 'Lobster', cursive;
      margin-bottom: 0;
      color: #fff;
    }
  }

  .form__container {
    width: 40%;
    background-color: rgba(43, 41, 41, 0.747);
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
  }

  form {
    label {
      color: #fff;
    }
  }
}
